# IntelliJ IDEA
.idea/
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/*.iml
!.idea/workspace.xml
!.idea/uiDesigner.xml

# OS-specific files
.DS_Store
Thumbs.db

# Build output directories
out/
